<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Twitter Sentiment Analysis</title>
  </head>
  <body>
    <style>
      .input_array {
        display: flex;
        width: 1200px;
        height: 50px;
        align-items: flex-start;
        justify-content: flex-start;
      }
    </style>

    <label>Enter the tweet here</label><br /><br />
    <form action="/input" method="POST">
      <input type="text" name="input_array" class="input_array" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
